
body {
  background-color: #904665;
  margin: 30px;
}

p.info{
  font-family: georgia
}

.col-md-4, .col-md-3 {
  border-style: solid;
  border-color: solid green;
  border-width: 1px;
  margin: 4px;
  background-color: white;
}
